/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

body.dark-mode .container {
    background-color: #333333;
    box-shadow: none;
}

.theme-switch {
    margin-bottom: 20px;
}

.theme-switch input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.theme-switch input[type="checkbox"]:checked {
    background-color: #4CAF50;
}

.theme-switch input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.3s ease;
}

.theme-switch input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}

/* Segment Selector Styling */
.segment-selector {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.segment-option {
    flex-grow: 1;
    padding: 10px 0;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.segment-option:hover {
    background-color: #e0e0e0;
}

.segment-option.active {
    background-color: #4CAF50;
    color: white;
    border-color: #388e3c;
}

@media (max-width: 768px) {
    .segment-selector {
        flex-direction: column;
    }

    .segment-option {
        margin: 5px 0;
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 45%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button:active, button:focus {
    background-color: #388e3c;
    outline: none;
}
